body.dark-theme {
  background-color: rgb(28, 28, 30);
  color: rgb(188, 188, 186);
  a {
    &:link {
      color: CornflowerBlue
    }
    &:visited {
      color: DeepSkyBlue
    }
    &:hover {
      color: DodgerBlue
    }
  }
  figure img {
    filter: invert(90%);
    border: 1px solid black;
  }
}

a {
  &:link {
    color: MediumBlue
  }
  &:visited {
    color: DarkBlue
  }
  &:hover {
    color: Blue
  }
}

@media (min-width: 576px) {
  p {
    text-align: justify;
    text-justify: inter-word;
  }
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

.math-display-wrap {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  .katex-display {
    margin: 0.5em 0;
  }
}

svg {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#theme-switch {
  svg {
    width: 24px;
    height: 24px;
  }
  &:hover {
    cursor: pointer;
  }
}

abbr, .abbr {
  font-size: smaller;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

table {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-collapse: collapse;
  td, th {
    padding: .75rem;
    vertical-align: top;
  }
  th {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
}

figure {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  img {
    max-width: 100%;
    height: auto;
  }
  figcaption {
    margin-top: 1rem;
  }
}

.sup-left {
  padding-right: 2px;
}

.sup-right {
  padding-left: 2px;
}

h1:not(#title) {
  font-size: 2rem;
  padding-top: 1rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.0rem;
}

h1, h2, h3 {
  .header-section-number {
    font-size: smaller;
    font-weight: normal;
    &:after {
      content: ".";
    }
  }
}

h4, h5, h6 {
  .header-section-number {
    display: none;
  }
}

#refs {
  div:first-of-type {
    padding-top: 0.75rem;
  }
  div:last-of-type {
    padding-bottom: 0.75rem;
  }
  ol {
    border-top: 1px solid;
    padding-top: 1rem;
  }
}

.subfigures p {
  text-align: center;
}

#appendix {
  border-top: 1px solid;
  margin-top: 5rem;
}
